section.home
    .wrap
        .home__body 
            h1
                .title Онлайн курс
                .subtitle Открывая Ветхий Завет
            .home__text 
                | на русском
                svg.icon
                    use(xlink:href="#ru")
                | и английском языках
                svg.icon
                    use(xlink:href="#en") 

            