section.actual
    .wrap
        
        .actual__body
            .actual__text
                h2.title Актуальность курса
                p Библия является одной из самых почитаемых книг во всем мире. Однако этой книге в русской православной богословской традиции уделяется недостаточно внимания. Тексты Ветхого Завета мало обсуждаются и очень часто его вообще не рекомендуют читать.
                    br
                    | Но именно книги Ветхого Завета, иначе говоря, Писание, о которых говорил и Христос, и апостолы, оказываются в центре внимания тех, кто ищет спасения. 
                p С помощью набора запланированных образовательных курсов, интервью, паломничеств, посещения святых мест мы надеемся изменить ситуацию, повысить интерес к Библии, преодолеть нерешительность и недоумение, которые испытывают порой люди, обращаясь к чтению Священного Писания. 
                p Наша цель - помочь в том, чтобы библейский текст стал понятнее не толькодля специалистов в области библеистики и священнослужителей, но и прихожан, и тех, кто хочет читать и понимать Библию. Мы хотим показать, почему важно изучать Библию, знать библейские имена и что стоит за ними, как соотносить события ветхозаветного времени и современной жизни, каково место Библии в жизни современных людей.
            .actual__pic