section.whom
    .wrap
        h2.title Для кого данный курс
        .whom__items
            .whom__item
                .whom__icon
                    svg.icon.icon-people
                        use(xlink:href="#people")
                    .whom__num 01
                .whom__text
                    .text-bold Студенты 
                        br
                        | и преподаватели
                        br
                        | российских вузов, 
                    | изучающие английский язык, литературу, искусство, культуру
            .whom__item
                .whom__icon
                    svg.icon
                        use(xlink:href="#cultures")
                    .whom__num 02
                .whom__text
                    .text-bold Христиане, 
                    | проживающие в России и за рубежом
            .whom__item
                .whom__icon
                    svg.icon
                        use(xlink:href="#mass")
                    .whom__num 03
                .whom__text
                    .text-bold Студенты 
                        br
                        | и преподаватели
                    | христианских учебных заведений
            .whom__item
                .whom__icon
                    svg.icon
                        use(xlink:href="#pulpit")
                    .whom__num 04
                .whom__text
                    .text-bold Школьные учителя, 
                    | интересующиеся православной педагогикой
            .whom__item
                .whom__icon
                    svg.icon
                        use(xlink:href="#dove")
                    .whom__num 05
                .whom__text
                    .text-bold Люди, вовлеченные
                    | в социальную,  благотворительную, религиозную деятельность
            .whom__item
                .whom__icon
                    svg.icon
                        use(xlink:href="#praying")
                    .whom__num 06
                .whom__text
                    .text-bold Интересующиеся 
                        br
                        | религиозной 
                    | тематикой
            .whom__item
                .whom__icon
                    svg.icon
                        use(xlink:href="#charity")
                    .whom__num 07
                .whom__text
                    .text-bold Семейные люди 
                    | от 25 лет и старше
            .whom__item
                .whom__icon
                    svg.icon
                        use(xlink:href="#baptism")
                    .whom__num 08
                .whom__text
                    .text-bold Все, 
                    | интересующиеся Библией
        .video
            .video__items 
                .video__item
                    iframe(src='https://player.vimeo.com/video/403241556', width='640', height='360', frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')
                    .video__title
                        .video__icon
                            svg.icon
                                use(xlink:href="#ru")
                        .video__txt Рим. 15:4
                .video__item
                    iframe(src='https://player.vimeo.com/video/403241556', width='640', height='360', frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')
                    .video__title
                        .video__icon
                            svg.icon
                                use(xlink:href="#en")
                        .video__txt Rom.15:4

