section.unic
    .wrap
        .unic__about
            h2.title Уникальность курса <br>и возможности
            ul.unic__list
                li
                    span.text-bold Уменьшаем разрыв 
                    | между религиозной жизнью человека, его интеллектуальной и культурной жизнью. 
                li
                    span.text-bold Возвращаемся к теме 
                    | значимости бытия.
                li
                    span.text-bold Раскрываем идеи для жизни, 
                    | основанные на проверенных временем библейских историях и их героев.
                li
                    span.text-bold Обеспечиваем участников курса: 
        .unic__body
            .unic__title Обеспечиваем участников курса: 
            .unic__items
                .unic__item
                    .unic__num 01
                    svg.icon
                        use(xlink:href="#pen")
                    .unic__text Письменными материалами
                .unic__item
                    .unic__num 02
                    .unic__icon 
                        svg.icon
                            use(xlink:href="#planet")
                    .unic__text Дискуссионными вопросами
                .unic__item
                    .unic__num 03
                    .unic__icon 
                        svg.icon
                            use(xlink:href="#scroll")
                    .unic__text Англо-русским словарем библейских терминов
                .unic__item
                    .unic__num 04
                    .unic__icon 
                        svg.icon
                            use(xlink:href="#speech")
                    .unic__text Возможностью задать автору курса вопросы по ходу 3-х вебинаров
                .unic__item
                    .unic__num 05
                    .unic__icon 
                        svg.icon
                            use(xlink:href="#god")
                    .unic__text Принять участие в авторском мастер-классе по искусству на материале Книги Бытия