header
	.wrap
		.header
			.logo
				img(src="img/logo.png", alt="logo")
				.logo__text 
					.text-bold Центр научно-просветительских 
					span и религиозно-философских программ
			.lang
				.lang__item
					svg.icon
						use(xlink:href="#ru")
				.lang__item
					svg.icon
						use(xlink:href="#en")
