include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/sprite
		.main
			include ../common/header
			include ../common/1home
		.body-bg
			include ../common/2actual
			include ../common/3whom
			include ../common/4structure
			include ../common/5unic
			include ../common/footer
		//- include ../common/modal
	// END body